@media (max-width: 750px){
    body{
        font-family: Arial, Helvetica, sans-serif;
        background-color: rgb(144, 20, 201);
        background-image: url(images/bg-mobile.svg);
        background-repeat: no-repeat;
        background-size: contain;
        
    }
    .nav{
        margin-top: 0px;
        margin-left: 20px;
    }

    .nav img{
        width: 120px;
        height: 100px;
    }

    .principal{
        align-items: center;
        margin-top: auto;
        flex-direction: column;
    }

    .container-image img{
        width: 250px;
        height: 180px;
    }

    .container-content{
        align-items: center;
    }

    h1{
        text-align: center;
        font-size: 22px;
        width: 250px;
        height: 50px;
        margin-top: 40px;
        
        margin-bottom: 0px;
    }

    p{
        text-align: center;
        font-size: 16px;
    }

    button{
        font-size: 14px;
        width: 200px;
        height: 43px;
        margin-left: 20px;
    }

    .social {
        
        display: flex;
        justify-content:center;
        position: relative;
        bottom: -50px;
    }
    
    
}
